.header{
    background-color:rgb(236, 171, 90)
    color(srgb rgb(214, 133, 133) rgb(105, 170, 105) rgb(228, 228, 236))
}

.header__list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;

}
.logo{
    margin-left: 150px;
}
.top-menu{
    list-style: none;
    margin-left: 250px;
    margin-top: 0px;
    }
.top-menu li{
    display:inline-block;
}
.section1{
    display: inline-block;
}