.header{
    background-color:white;
    color: black;
}

.header__list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;

}
.logo{
    margin-left: 150px;
}
.top-menu{
    list-style: none;
    margin-left: 250px;
    margin-top: 0px;
    }
.top-menu li{
    display:inline-block;
}
.section1{
    display: inline-block;
}